html,
body {
  background-color: #e1dbdb;
  margin: auto;
  font-size: 15px;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700px;
  text-align: left;
 
}

.container {
  /*align-items: center;*/
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  line-height: 2;
  padding: 100px;
  overflow: auto;
  margin: auto;
  width: 50%;
 
}

.sedans {
  background-color: #f29640;
  /*height: 350px;
  width: 200px;*/
  padding: 20px;
  font-weight: 400;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.suvs {
  background-color: #237585;
  /*height: 350px;
  width: 200px;*/
  padding: 20px;
  font-weight: 400;
}
.luxury {
  background-color: #063c46;
  /*height: 350px;
  width: 200px;*/
  padding: 20px;
  font-weight: 400;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.Button {
  color: white;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  position: relative;
  border: 1.4px solid white;
  background-color: transparent;
  /*bottom: 200px;*/
  padding: 10px 27px;
}

Button:active {
  color: rgb(63, 59, 59);
  opacity: 0.7;
  background-color: white;
  
  
}
.gridversion {
  background-color: blue; 
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  position: relative;
  border: 3px solid red;
  left: 600px;
  top: 50px;
  
}


footer {
  font-weight: 200;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  background: #1d1d77;
  border-top: 1px solid rgb(255, 255, 255);
  bottom: 0;
  margin: 0;
  vertical-align: middle;
  flex-direction: column;
  text-align: center;
  color: white;
}
